.tab { 
    margin-left: 30px; 
    margin-right: 30px;}
.photo { 
    padding: 4px;
    border: 1px solid #688770;
}
.profile {
    padding: 3px;
    border: 1px solid #688770;
    margin-right: 50px;
}
.photo-box {
    padding: 20px;
}
.box {
    border-width: 1px;
    border-color: #688770;
    padding: 25px;
    background-color:white;
}
.footer {
    text-align: right;
    margin-top: 10px;
}
body {
    font-family: 'Gentium Book Plus', serif;
    font-size: 14px;
    margin: auto;
    align: center;
}
table {
    font-size: 14px;
    border-spacing: 0px;
}
td {
    padding: 5px;
}
